::ng-deep .readonly-editor .p-editor {
  .p-editor-toolbar.ql-snow {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }

  .p-editor-content.ql-snow {
    border: none !important;
    border-end-end-radius: 0 !important;
    border-end-start-radius: 0 !important;
  }

  .ql-editor {
    padding: 0 !important;
  }
}

::ng-deep .readonly-editor .ql-container {
  font-size: 14px !important;
}

::ng-deep p-togglebutton.my-visibility-toggle span[data-pc-section="label"] {
  display: none;
  padding: 0px !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; /* for IE 10+ */
}

.dashboard-scroller-infinite {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 0.25rem;
  gap: 1.25rem;
  width: 100%;
  height: 100%;
}

.dashboard-scroller-card {
  width: 115px;
  flex-basis: 115px;
  flex-shrink: 0;
  flex-grow: 0;
  scroll-snap-align: start;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  border-radius: 8px;

  &:hover {
    transform: translateY(-4px);

    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 7%;
    right: 7%;
    height: 4px;
    background: linear-gradient(
        90deg,
        transparent,
        var(--p-primary-500),
        transparent
    );
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s ease;
    filter: blur(4px);
  }
}

.description-container {
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.description-container .description-content {
  max-height: 250px;
  overflow-y: auto;
}

.line-clamp-none {
  max-height: none;
  overflow: visible;
}

.series-number-overlay {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.8rem;
  padding: 1px 3px;
  border-radius: 3px;
  z-index: 3;
}

.cover-progress-bar,
.cover-progress-bar-ko-both,
.cover-progress-bar-ko-only {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.cover-progress-bar {
  bottom: 0;
}

.cover-progress-bar-ko-both {
  bottom: 0;
  height: 12px;
  z-index: 3;
}

.cover-progress-bar-ko-only {
  bottom: 0;
}

.custom-p-tabs > .p-tabpanels {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

::ng-deep .p-inputchips {
  width: 100%;
}

::ng-deep .progress-incomplete .p-progressbar-value {
  background-color: #3b82f6;
}

::ng-deep .progress-complete .p-progressbar-value {
  background-color: #22c55e;
}

::ng-deep .progress-incomplete-ko .p-progressbar-value {
  background-color: #fbbf24;
}

::ng-deep .progress-complete-ko .p-progressbar-value {
  background-color: #8b5cf6;
}

::ng-deep .custom-button-padding .p-button {
  padding-block: 0rem !important;
}

::ng-deep .custom-tag-padding {
  padding: 0.1rem !important;
}
